<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая песочница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" href="#MAIN_DOMAIN#/template/img/favicon.ico">

    <script src="#MAIN_DOMAIN#/template/js/jquery-3.6.0.min.js"></script>
    <script src="#MAIN_DOMAIN#/template/js/popper.min.js"></script>
    <script src="#MAIN_DOMAIN#/template/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="#MAIN_DOMAIN#/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="#MAIN_DOMAIN#/template/css/styles.css">
</head>
<body>
<body>
<div class="container main-block">
    <div class="row logo logo-sites">
        <div class="col-sm-12">
            <div class="title text-center">Менеджер песочниц</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="w-100">
            <h2>Песочница создана</h2>
            <p>Сейчас она пуста. Загрузите файлы в корневую папку проекта, чтобы увидеть тут что-то другое</p>
        </div>
    </div>
</div>
</body>
</html>